*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFE2E2;
}

.ui-section{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.text-section{
    padding: 20px;
    display: flex;
    max-width: 500px;
    max-height: 600px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

h1{
    color: #ce7a7a;
    font-weight: bolder;
    font-size: 55px;
    text-align: center;
}

p{
    font-size: 22px;
    text-align: center;
}

.github-link{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #ce7a7a;
    color: white;
}

a{
    align-self: center;
    text-decoration: none;
}

.calculator-container{
    width: 350px;
    height: 560px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 20px;
    height: 180px;
    font-size: x-large;
    font-weight: bold;
    word-break: break-all;
}

.row1, .row2, .row3, .row4, .row5 {
    display: flex;
    gap: 5px;
}


button {
    height: 70px;
    flex: 1;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: large;
    font-weight: bold;
}


.big-button {
    flex: 2;
    background-color: #C5B3D3;
}


.keypad {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
